#lastest{
  padding: 40px 0;

  .arrowPrev{
    font-size: 0;
    text-align: center;
    line-height: 0;
    position: absolute;
    z-index: 1;
    top: 43%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
  }
  .arrowPrev::before{
    content: '←';
    font-family: 'slick';
    display: block;
    height: 33px;
    width: 33px;;
    border-radius: 50px;
    font-size: 40px;
    margin-left: 12px;
    line-height: 1;
    opacity: 1;
    background-color: #FFFFFF;
    color: #1D39C4;
    -webkit-font-smoothing: antialiased;
  }

  .arrowNext{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 43%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    right: 10px;
  }
  .arrowNext::before{
    content: '→';
    height: 33px;
    width: 33px;;
    border-radius: 50px;
    background-color: #FFFFFF;
    display: block;
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    color: #1D39C4;
    -webkit-font-smoothing: antialiased;
  }
  .slick-list{
    padding: 20px 0;
    .news-items{
      margin: auto;
      background-color: #FFFFFF;
      max-width: 95%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      padding: 24px;
      transition: all 0.4s ease 0s;
      .date-item{
        height: 30px;
      }
      span{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        height: 74px;
        -webkit-box-orient: vertical; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .lastest-content{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        height: 70px;
        -webkit-box-orient: vertical; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span:first-child{
        -webkit-line-clamp: 3;
      }
      img{
        width: 100%;
        height: auto;
        @include respond(tab-land){
          height: 190px;
        }
        @include respond(tab-port){
          height: 100%;
        }
      }
      
      .read-more{
        padding-top: 10px;
        color:#1D39C4;
        font-weight: 500;
        svg{
          font-size: 12px;
        }
      }
    }
    .news-items:hover{
      transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 20px 5px;
    }
  }
    
}
  .need-support{
    margin: 60px 0;
    padding:56px;
    background: #00194F;
    color:#FFFFFF;
    border-radius: 12px;
    .btn-sales{
      padding:12px 40px;
      background:#F57C00 ;
      border-radius: 8px;
    }
    .btn-sales:hover{
      color: #FFFFFF ;
    }
    .resource{
      padding-top: 80px;
      border-left: 1px solid #FFFFFF;
    }
    .icon{
      padding : 8px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 8px;
    }
    .signUp:hover{
      color: #F57C00 !important; 
    }
  }
  @include respond(phone){
    .title{
      font-size: 40px;
    }
    .need-support{
      padding:20px;
      margin-bottom: 40px;
      .resource{
        border-left: none;
        border-top:1px solid #FFFFFF;
      }
      .btn-sales{
        padding:12px 40px;
        background:#F57C00 ;
        border-radius: 8px;
      }
    }
  }
  @include respond(tab-port){
    .need-support{
      .resource{
        padding-top: 40px !important;
        border-left: none;
        border-top:1px solid #FFFFFF;
      }
      .title{
        font-size: 30px;
      }
    }
    .news-items{
      span{
        height: 65px !important;
      }
    }
  }
  


#ichiba-power{
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}