/* Class để hiển thị giá trị mới */
.customer-stories {
  .slide-show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  /* Class để ẩn giá trị cũ */
  .slide-out {
    display: block;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}
