#solution {
  p {
    @apply tw-mb-0;
  }
  padding: 48px 0;
  // background-color: #F2F2F2;

  .solution-item-left {
    // border-right: 4px solid #F57C00;
    height: 147px;
    display: flex;
    margin-bottom: 26px;
    padding: 20px 62px 0 10px;
    min-width: 315px;
    align-items: center;
  }
  .items-right {
  }
  .solution-item-right {
    // border-left: 4px solid #F57C00;
    margin-bottom: 25px;
    height: 147px;
    display: flex;
    align-items: center;
    padding-left: 78px;
    min-width: 394px;
  }
  .animation {
    position: relative;
    top: 0px;
    left: 14px;
  }
  @include solutionImg(lv1) {
    img {
      width: 100%;
      position: relative;
      top: 30px;
      left: 12px;
    }
    .solution-item-left {
      position: relative;
    }
    .solution-item-right {
      position: relative;
    }
  }
  @include solutionImg(lv2) {
    img {
      width: 100%;
      right: 24px;
    }
  }
  @include solutionImg(lv3) {
    .animation {
      display: none;
    }
  }
  @include respond(tab-land) {
    .bg-solution {
      background-image: none !important;
    }

    .title {
      width: 100%;
      padding: 0;
      font-size: 30px;
      font-weight: 700;
    }
    .items-left {
      display: none;
    }
    .items-right {
      .solution-item-right {
        height: auto;
        border-left: 4px solid #f57c00;
        padding-left: 20px !important;
        min-width: 1px !important;
      }
    }
  }
  @include respond(tab-port) {
  }
}
