.faded-border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2px;
    background: linear-gradient(180deg, white, #ffffff00);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

:-webkit-scrollbar-track {

  border-radius: 10px;
  background-color: #F5F5F5;

}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #ddd;
  height: 3px;
}