.inf-slider {
  padding: 20px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .hrhr {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    font-feature-settings: "clig" off, "liga" off;
    color: #666;
    text-transform: uppercase;
    gap: 12px;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: #ccc;
      position: relative;
      top: 7px;
    }
  }

  // Gradient mixin
  @mixin white-gradient {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  $animationSpeed: 40s;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 100%;
      position: absolute;
      width: 200px;
      z-index: 2;
      @include white-gradient;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      display: flex;
      gap: 16px;
      width: calc(150px * 26);
      animation: scroll $animationSpeed linear infinite;
      margin-top: 24px;

      &:hover {
        animation-play-state: paused;
      }
    }

    .slide {
      img {
        border: 1px solid #ccc;
        border-radius: 16px;
        height: 56px;
        width: 160px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 20px;

    .hrhr {
      padding: 0 16px;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 2px;
      font-weight: 500;
    }

    .slider {
      .slide-track {
        gap: 8px;
        width: calc(150px * 14);
        margin-top: 24px;
      }

      .slide img {
        height: 40px;
        width: 100px;
      }
    }
  }
}
.inf-slider {
  padding: 20px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .hrhr {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    font-feature-settings: "clig" off, "liga" off;
    color: #666;
    text-transform: uppercase;
    gap: 12px;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: #ccc;
      position: relative;
      top: 7px;
    }
  }

  // Gradient mixin
  @mixin white-gradient {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  $animationSpeed: 40s;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 100%;
      position: absolute;
      width: 200px;
      z-index: 2;
      @include white-gradient;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      display: flex;
      gap: 16px;
      width: calc(150px * 26);
      animation: scroll $animationSpeed linear infinite;
      margin-top: 24px;

      &:hover {
        animation-play-state: paused;
      }
    }

    .slide {
      img {
        border: 1px solid #ccc;
        border-radius: 16px;
        height: 56px;
        width: 160px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 20px;

    .hrhr {
      padding: 0 16px;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 2px;
      font-weight: 500;
    }

    .slider {
      .slide-track {
        gap: 8px;
        width: calc(150px * 14);
        margin-top: 24px;
      }

      .slide img {
        height: 40px;
        width: 100px;
      }
    }
  }
}
